{% extends 'web/base.html' %}

{% block main_body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">图书借阅</h1>
          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">图书信息表</strong>
                  <div class="card-tools">
                      <form action="{%  url 'web_book_index' 1 %}" method="get">
                      <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="keyword" class="form-control float-right" placeholder="图书名称">

                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                      </form>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>图书馆名称</th>
                      <th>图书分类</th>
                      <th>图片</th>
                      <th>图书名称</th>
                      <th width="45">作者</th>
                      <th>单价</th>
                      <th>剩余数量</th>
                      <th>状态</th>
{#                      <th>添加时间</th>#}
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for vo in booklist %}
                      <tr>
                      <td>{{ vo.id }}</td>
                      <td>{{ vo.shopname }}</td>
                      <td>{{ vo.categoryname }}</td>
                      <td><img src="/static/uploads/book/{{ vo.cover_pic }}" width="60" /></td>
                      <td>{{ vo.name }}</td>
                      <td>{{ vo.author }}</td>
                      <td>{{ vo.price }}</td>
                      <td>{{ vo.number }}</td>
                      <td>
                          {% if vo.status == 1 %}
                              <span class="badge bg-gradient-green">正常</span>
                          {% elif vo.status == 2 %}
                              <span class="badge bg-danger">不可借</span>
                          {% elif vo.status == 9 %}
                              <span class="badge bg-danger">已删除</span>
                          {% else %}
                              <span class="badge bg-danger">未知状态</span>
                          {% endif %}
                      </td>
{#                      <td>{{ vo.create_at|date:'Y-m-d'}}</td>#}

                      <td>
                          <form class="form-horizontal" action="{% url 'web_book_borrow' %}" method="post" >
                                <input type="hidden" name="shop_id" value="{{ vo.shop_id }}" />
                                <input type="hidden" name="member_id" value="{{ memberid }}" />
                                <input type="hidden" name="book_id" value="{{ vo.id }}" />
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-xs">
                                 <span class="glyphicon glyphicon-edit" aria-hidden="true">申请借阅</span>
                                </button>
                          </form>

{#                        <a type="button" href="{%  url 'myadmin_book_delete' vo.id%}" class="btn btn-danger btn-xs">#}
{#                        <span class="glyphicon glyphicon-trash" aria-hidden="true">删除</span></a>#}
{#                        <a href="#" type="button" class="btn btn-warning btn-xs">#}
{#                        <span class="glyphicon glyphicon-search" aria-hidden="true">查看借出量</span>#}
{#                        </a>#}
                      </td>
                      </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
{#                <a role="button" href="{% url 'myadmin_book_add' %}" class="btn btn-primary">#}
{#                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加图书</a>#}
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="{% url 'web_book_index' pIndex|add:-1%}?{{ mywhere|join:'&' }}">&laquo;</a></li>
                  {% for p in plist %}
                      <li {% if p == pIndex %}class="active"{% endif %}><a class="page-link" href="{% url 'web_book_index' p%}?{{ mywhere|join:'&' }}">{{ p }}</a></li>
                  {% endfor %}
                  <li class="page-item"><a class="page-link" href="{% url 'web_book_index' pIndex|add:1 %}?{{ mywhere|join:'&' }}">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
     </div>
</section>

{% endblock %}