{% extends "myadmin/base.html" %}

{% block main_body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">图书管理</h1>
          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div class="card card-primary content">
              <div class="card-header">
                <h3 class="card-title">编辑图书信息</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-horizontal" action="{% url 'myadmin_book_update' book.id %}" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="oldpicname" value="{{ book.cover_pic }}" />
                  {% csrf_token %}
                  <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">图书馆名称</label>
                        <select name="shop_id" id="shop_id" onchange="doLoadCategory(0)" class="form-control select2" style="width: 100%;">
                            {% for svo in shoplist %}
                                <option value="{{ svo.id }}"{% if svo.id == book.shop_id %} selected {% endif %}>{{ svo.name }}</option>
                            {% endfor %}
                        </select>
                  </div>
                  <div class="form-group">
                  <label for="inputEmail3" class=" control-label">图书分类</label>
                    <select name="category_id" id="category_id"  class="form-control select2" style="width: 100%;">
                    </select>
                </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">图书名称</label>
                    <input type="text" name="name" value="{{ book.name }}" class="form-control"  placeholder="图书名称">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">单价</label>
                    <input type="text" name="price" value="{{ book.price }}" class="form-control"  placeholder="单价">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">作者</label>
                    <input type="text" name="author"value="{{ book.author }}" class="form-control"  placeholder="作者">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">数量</label>
                    <input type="text" name="number" value="{{ book.number }}"class="form-control"  placeholder="数量">
                  </div>
                  <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">图书封面</label>
                  <div class="col-sm-4">
                    <input type="file" name="cover_pic"  /><br/>
                    <img src="/static/uploads/book/{{ book.cover_pic }}" width="200"/>
                  </div>
                  </div>
{#                  <div class="form-group">#}
{#                    <label for="exampleInputFile">File input</label>#}
{#                    <div class="input-group">#}
{#                      <div class="custom-file">#}
{#                        <input type="file" class="custom-file-input" id="exampleInputFile">#}
{#                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>#}
{#                      </div>#}
{#                      <div class="input-group-append">#}
{#                        <span class="input-group-text">Upload</span>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="form-check">#}
{#                    <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#                    <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#                  </div>#}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">完成编辑</button>
                </div>
              </form>
            </div>

{% endblock %}


{% block loadjavascript %}
<script type="text/javascript">

  //自定义函数，实现通过店铺id，Ajax加载对应的菜品分类信息
  function doLoadCategory(cid){
    //获取选中的id号
    var id = $("#shop_id").val();
    $("#category_id").empty();
    $.ajax({
        url: "/myadmin/category/load/"+id,
        type: 'get',
        data: {},
        dataType:'json',
        success:function(res){
            if(res.data.length<1)
                return;
            var data = res.data;
            var select = $("#category_id")
            for(var i=0;i<data.length;i++){
                $('<option value="'+data[i].id+'">'+data[i].name+'</option>').appendTo(select)
                //select.append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
            }
            select.find("option[value='"+cid+"']").attr("selected",true);

        }
    });

  }
  doLoadCategory({{product.category_id}});
</script>
{% endblock %}